<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!--
    container for metadata(is not display on the page
    title, styles (css), link, js scripts
    -->
</head>
<body>
<!--
whatever will be visible on the page
-->

<p>developer course</p>
<b>bold text</b>

<h1 align="center" style="color: blue" id="id1">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>
<i>underline</i>
<br>
<img src="htmlpic.png" alt="HTML Picture">

<ul>
    <li>DI</li>
    <li>MVC</li>
    <li>IoC</li>
</ul>

<a href="https://google.com/" target="_blank">google link</a>

<table>
    <thead>

    </thead>
    <tbody>

    </tbody>
</table>
<br>
<table>
    <tr>
        <td>first name |</td>
        <td>last name |</td>
        <td>salary</td>
    </tr>
    <tr>
        <td><b>Joe</b></td>
        <td><b>Doe</b></td>
        <td><b>175000</b></td>

    </tr>
</table>


</body>
</html>