<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <!--    connect to bootstrap from local-->

    <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!--    connect to js from local-->

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!--    connect to css from local-->

    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen">

</head>
<body>

<h2 class="display-1 text-danger">Welcome</h2>

<h2 class="cydeo">My Custom class</h2>

<img th:src="@{/images/welcome-38249.png}"  alt="img"/>

<div th:replace="~{/fragments/index :: main-menu}"></div>
<div th:replace="~{/fragments/index :: footer-menu}"></div>

</body>
</html>