<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom styles */
        .form-group {
            margin-bottom: 20px; /* Adjust space between input fields */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}" class="mt-4">
                <h2>Register</h2>
                <br>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input th:field="*{firstName}" movieType="text" class="form-control" id="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input th:field="*{lastName}" movieType="text" class="form-control" id="lastname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input th:field="*{email}" movieType="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input th:field="*{graduated}" movieType="checkbox" class="form-check-input" id="graduated">
                        <label class="form-check-label" for="graduated">Graduated</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label><br>
                    <div class="form-check form-check-inline">
                        <input th:field="*{gender}" movieType="radio" class="form-check-input" value="male" id="gender-male">
                        <label class="form-check-label" for="gender-male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:field="*{gender}" movieType="radio" class="form-check-input" value="female" id="gender-female">
                        <label class="form-check-label" for="gender-female">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="batch-number">Batch Number</label>
                    <select th:field="*{batch}" class="form-control" id="batch-number">
                        <option th:each="batch : ${batchList}" th:value="${batch}" th:text="${batch}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <textarea th:field="*{company}" class="form-control" id="company"></textarea>
                </div>
                <button movieType="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>